<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RadioVB.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RadioVB.My.MySettings>
            <setting name="Update_SRV" serializeAs="String">
                <value>http://update.matcham.org.uk</value>
            </setting>
            <setting name="Update_ID" serializeAs="String">
                <value>RadioVB</value>
            </setting>
            <setting name="SRV_Port" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="DarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Colour_Scheme" serializeAs="String">
                <value />
            </setting>
        </RadioVB.My.MySettings>
    </userSettings>
	<!--
	    ` Commented out for testing and DPI scaling fuck ups
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
	</System.Windows.Forms.ApplicationConfigurationSection> 
	-->
	
</configuration>